  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #171717; */
    color: #fff;
    padding: 20px;
    font-size: 18px;
  }
  
  .footer a {
    text-decoration: none;
    color: #fff;
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* background-color: #171717; */
    padding: 10px;
  }
  
  .social a {
    font-size: 36px;
    color: #fff;
    transition: transform 0.2s ease;
  }
  
  .social a:hover {
    transform: scale(1.2);
  }